---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>🪴 Conifer</h1>
		<p>The (almost) perfect personal website template!</p>
		<a href="https://github.com/developedbytoby/conifer" target="_blank" rel="noopener norefferer">Check it out!</a>
		<div class="example">
		    <img
		        src="/pages/index.png"
		    />
            <p>Index page</p>
            <img
                src="/pages/about.png"
            />
            <p>About page</p>
            <img
                src="/pages/projects.png"
            />
            <p>Projects page</p>
		</div>
		<p>🪴 Run into any problems? <a href="https://github.com/developedbytoby/conifer/issues/new" target="_blank" rel="noopener norefferer">Open an issue<a/>!</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 8rem;
		max-width: 120ch;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	h1 {
		font-size: 2.25rem;
		font-weight: 500;
		margin: 0;
	}
	.example {
	    margin-top: 4rem;
	}
	.example img {
	    border-radius: 0.5rem;
	    width: 100%;
    }
    .example p {
    	color: #666;
    }
</style>
