---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    		<h1>🪴 Conifer</h1>
    		<p>The (almost) perfect personal website template!</p>
    		<a href="/getting-started" target="_blank" rel="noopener norefferer">Get started</a>
    		<div class="example">
    		    <img
    		        src="/pages/index.png"
    		        alt="An example of the index page"
    		    />
                <p>Index page</p>
                <img
                    src="/pages/about.png"
                    alt="An example of the about page"
                />
                <p>About page</p>
                <img
                    src="/pages/projects.png"
                    alt="An example of the projects page"
                />
                <p>Projects page</p>
    		</div>
    		<p>🪴 Run into any problems? <a href="https://github.com/developedbytoby/conifer/issues/new" target="_blank" rel="noopener norefferer">Open an issue<a/>!</p>
    	</main>
    </Layout>

<style>
	main {
		margin: auto;
		margin-top: 8rem;
		max-width: 120ch;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	h1 {
		font-size: 2.25rem;
		font-weight: 500;
		margin: 0;
	}
	.example {
	    margin-top: 4rem;
	    margin-bottom: 2rem;
	}
    .example p {
    	color: #666;
    }
</style>
