
---
export interface Props {
	title: string;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Conifer</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
	}
	a {
	    color: inherit
    }
</style>